/*LOGIN*/
#form11 {
	width: 100%;
	max-width: 280px;
	margin: 10px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
}

#form12 h1{
	font-family: 'Indie Flower', cursive;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
}

#form12 h2{
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

/* login button*/
#login{
	color: #fff;
	background-color: #222222;
	font-size: 15px;
	border-radius: 10px;
	width: 100%;
	height: 5%;
}

/* register button*/
#register{
	color: #fff;
	background-color: #222222;
	font-size: 15px;
	margin-top: 10px;
	border-radius: 10px;
	width: 100%;
	height: 5%;
}

/* LOGOUT */
#form12 {
	width: 100%;
	max-width: 280px;
	margin: 10px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
}

#form12 button {
	font-size: 18px;
	border-radius: 5px;
	width: 100%;
	height: 5%;
}

#form11 input{
	width:200px;
	height:30px;
	border-radius:3px;
	padding:2px;
	box-shadow:0 0 10px #a9a9a9;
	margin:10px
}

#logo {
  width: 100%;
  max-width: 300px;
  height: auto;
}