/*register form*/

@import "http://fonts.googleapis.com/css?family=Fauna+One|Muli";
#form1 {
	width: 100%;
	max-width: 350px;
	margin: 10px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
}
#form2 {
	width: 100%;
	max-width: 350px;
	margin: 10px auto;
	padding: 10px 20px;
	background: #f4f7f8;
	border-radius: 8px;
}
/*button registry form sign in*/
#form1 button {
	color: #fff;
	background-color: #222222;
	font-size: 18px;
	border-radius: 5px;
	width: 100%;
	height: 5%;
}

#form2 button {
	color: #fff;
	background-color: #222222;
	font-size: 18px;
	border-radius: 5px;
	width: 100%;
	height: 5%;
}

/*legend register*/
#form1 legend {
	font-size: 1.4em;
	margin-bottom: 10px;
}


/* Register number 1 black*/
#form1 .number {
	background-color: #222222;
	color: #fff;
	height: 30px;
	width: 30px;
	display: inline-block;
	font-size: 0.8em;
	margin-right: 4px;
	line-height: 30px;
	text-align: center;
	text-shadow: 0 1px 0 rgba(255,255,255,0.2);
	border-radius: 100%;
}


/* Register form input fields */
#form1 input{
	width:290px;
	height:30px;
	border-radius:3px;
	padding:2px;
	box-shadow:0 0 10px #a9a9a9;
	margin:10px
}
